.Create {
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  position: absolute;
  width: 20%;
}

input {
  width: 100%;
}

mat-form-field {
  width: 100%;
}


#newTripButton {
  width: 100%;
  background-color: #B6465F;
  color: #086788;
}

mat-spinner {
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  position: absolute;
}


body {
  background-color: #e2edff;
}

.Choose {
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  position: absolute;
  width: 70%;
}

.upSpace {
  margin-top: 2rem;
}

.columnGroup {
  display: flex;
  flex-direction: column;
  margin: 15px 1rem;
}
