#signIn {
  height: 148px;
  width: 372px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -180px;
  margin-top: -75px;
}

button {
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  padding: 0 !important;
  border-radius: 50%;
  left: 50%;
  top: 40%;
  margin-left: -25px;
  margin-top: -25px;
}


#googleLogin img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 100px;
}

