<body>

  <img id="signIn" src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/57763911_2186353464795093_1544723213215334400_n.jpg?_nc_cat=100&_nc_ht=scontent.fzty2-1.fna&oh=eee948c3309896da83e74971f66e0d2d&oe=5D72548F" alt="login">

  <button style="width: 60px; height: 60px; background-color: white" id="googleLogin" mat-button color="primary" (click)="signInWithGoogle()">
    <img style="width: 50px; height: 50px; background-color: white" src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/58633324_2191156090981497_4368887239397081088_n.jpg?_nc_cat=109&_nc_ht=scontent.fzty2-1.fna&oh=ce0511d2ac42f8b557454b7ef41ca2b9&oe=5D35D80B" alt="login">
  </button>

</body>
